<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <main>
      <div>
        <h1>{{ todolist.name }}</h1>
        <p>
          <a href="{% url 'update_todolist' todolist.pk %}">Edit</a>
        </p>
        <p>
          <a href="{% url 'delete_todolist' todolist.pk %}">Delete</a>
        </p>
        <p>
          <a href="{% url 'update_todoitem' todolist.pk %}">Update</a>
        </p>
        <h2>Tasks</h2>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Due date</th>
            </tr>
          </thead>
        </table>
        <tbody>
          {% for item in todolist.items.all %}
          <li>{{ item.task }}</li>
          <li>{{ item.due_date }}</li>
          {% endfor %}
        </tbody>
      </div>
    </main>
  </body>
</html>
