<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <main>
      <div>
        <h1>My Lists</h1>
        <div>
          <p>
            <a href="{% url 'create_todolist' %}">Create a new list</a>
          </p>
          <p>
            <a href="{% url 'create_todoitem' %}">Create a new item</a>
          </p>
        </div>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Number of items</th>
            </tr>
          </thead>
          <tbody>
            {% for list in todolist %}
            <tr>
              <td>
                <a href="{% url 'show_todolist' list.pk %}">{{ list.name }}</a>
              </td>
              <td>{{ list.items.all|length }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
