<html lang="en">
  <head>
    <title></title>
  </head>

  <body>
    <header></header>
    <main>
      <div>
        <h1>Create a new item</h1>
        <form method="POST">
          {% csrf_token %} {{ form.as_p }}
          {% comment %} <input type="text" name="task">
          <input type="text" name="due_date">
          <input type="checkbox" name="is_completed"> {% endcomment %}
          {% comment %} <select name="list"> {% endcomment %}
          <button>Create</button>
        </form>
      </div>
    </main>
  </body>
</html>
